.gradle
build/
bin/

*.class
**/.terraform/*
*.tfstate
*.tfstate.*
.terraformrc
terraform.rc

*.log

*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*

.vscode/

.idea
*.iws
*.iml
*.ipr
out/

.DS_Store
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.env
